<section>
  <form
    (submit)="submitForm($event)"
    class="w-full bg-white rounded-[16px] shadow-sm border border-slate-200 p-4 font-sans flex flex-col"
  >
    <div class="flex items-center gap-3 mb-3">
      <img
        [src]="userDataService.profilePhotoUrl"
        [alt]="userDataService.name"
        class="w-10 h-10 rounded-full object-cover shrink-0 bg-slate-100 border border-slate-50"
      />

      <div>
        <span class="text-[15px] font-bold text-slate-900 leading-tight">{{userDataService.name}}</span>

        <div
          class="flex p-1 w-fit items-center bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body"
        >
          @if (selectedInCreate.value == 'public') {
            <i class="fa-solid fa-earth-americas"></i>
          } @else if (selectedInCreate.value == 'following') {
            <i class="fa-solid fa-users"></i>
          } @else {
            <i class="fa-solid fa-lock"></i>
          }
          <select
            #selectedInCreate
            [formControl]="privacy"
            class="border-none bg-transparent cursor-pointer ring-0 py-1 pe-6 text-xs"
          >
            <option value="public">public</option>
            <option value="following">followers</option>
            <option value="only_me">only me</option>
          </select>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <textarea
        [formControl]="content"
        class="w-full bg-slate-50 border border-slate-200 rounded-xl p-3.5 text-[15px] text-slate-800 placeholder-slate-400 focus:outline-none focus:ring-4 focus:ring-blue-50 focus:border-blue-300 transition-all resize-y min-h-30"
        placeholder="What's on your mind...?"
        aria-label="Create a new post"
      ></textarea>
    </div>

    <hr class="border-t border-slate-800 mb-4" />
    @if (imgUrl) {
      <div class="relative">
        <img class="w-full max-h-75 object-cover mb-2" [src]="imgUrl" [alt]="imgFile?.name" />
        <button
          type="button"
          (click)="closeImg()"
          class="absolute cursor-pointer right-2 top-2 rounded-full bg-black/60 p-1 text-white backdrop-blur-sm"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-x"
            aria-hidden="true"
          >
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
          </svg>
        </button>
      </div>
    }
    <div class="flex items-center justify-between">
      <input (change)="readImg($event)" type="file" id="file" class="hidden" />
      <label
        for="file"
        class="flex cursor-pointer items-center gap-2 text-slate-600 hover:bg-slate-50 px-2 py-1.5 rounded-lg transition-colors group"
      >
        <i
          class="fa-regular fa-image text-[#22c55e] text-[1.1rem] group-hover:scale-110 transition-transform"
        ></i>
        <span class="text-[14px] font-semibold text-slate-600">Photo/video</span>
      </label>

      <button
        [disabled]="(!imgUrl && !content.value )|| isloading"
        class="cursor-pointer disabled:cursor-not-allowed disabled:opacity-60 bg-blue-500 text-white px-5 py-2 rounded-lg font-bold text-[14px] flex items-center gap-2 focus:ring-4 focus:ring-blue-200 outline-none"
      >
       @if(isloading){Posting...}
       @else {
        Post
        <i class="fa-regular fa-paper-plane text-sm"></i>
       }
        
      </button>
    </div>
  </form>

@if (loading) {
    <app-loading [loadingType]="'posts'"></app-loading>
    <app-loading [loadingType]="'posts'"></app-loading>
}@else {
    @for (post of postsList; track post._id) {
    <app-single-post (callParentFunction)="getPosts(tab)" [post]="post" ></app-single-post>
    }
  @empty {
    <div class="rounded-2xl mt-4 border border-slate-200 bg-white p-10 text-center text-slate-500 shadow-sm">No posts yet. Be the first one to publish.</div>
  }


}
</section>
